.Register {
    min-height: 100vh;
    width:100vw;
    position:absolute;
    top:0;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: white;
    .bg {
        position: fixed;
        min-width: 100vw;
        min-height: 100vh;
        z-index: 1;
    }
    .form {
        min-width: 50vw;
        z-index: 2;
        padding: 1rem;
        border-radius: 0.3rem;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
        background:var(--b);
        color:black;
        .title {
            color: var(--c1);
        }

        .content {
            > * {
                margin-top: 1rem;
            }
            .submitBtn {
                min-width: 300px;
                margin-top: 2em;
            }
            .imgInput{
                margin-top: 1rem;
            }
        }
    }

    .btnSpace {
        display: flex;
        justify-content: center;
        > * {
            margin: 0 1rem;
        }
    }
}
