.Footer {
    overflow: hidden;
    background: var(--c1);
    color: var(--t);
    min-height: 200px;
    display:flex;
    align-items: center;
    justify-content: center;
    .content {
        color:white;
        padding:1em;
        *{
            color:white;
        }
    }
}
